.title {
	font-size:200%;
	color: rgb(29, 41, 81);
	text-align:center;
	font-family: verdana;
}

.centered {
	width: 50%;
	margin: 0 auto;
}

.half {
	min-width: 49%;
	margin-top: 10px;
}


ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: rgb(15, 82, 186);
	}

li a {
	float:left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
  background-color: rgb(16, 52, 166);
}

	
a:hover {
	color: rgb(29, 41, 81);
	cursor:pointer;
}

#footer {
  bottom: 0;
  width: 100%;
  background-color: rgb(88, 139, 174);
  text-align:center;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}


#userBlock {
	display: inline-block;
	position: relative;
	border : 1px solid red;
}


span {
	display: inline-block;
	vertical-align: middle;
}

button {
	  display: inline-block;
	  padding: 15px 25px;
	  font-size: 24px;
	  cursor: pointer;
	  text-align: center;
	  color: #fff;
	  background-color: rgb(15, 82, 186);
	  border: none;
	  border-radius: 15px;
}

button:hover {
	background-color: rgb(16, 52, 166);
}



input {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  width: 100%;
  background-color: rgb(15, 82, 186);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type=button]:hover {
  background-color: rgb(16, 52, 166);
}


/*div#users {
	width: 50%;
	margin: 0 auto;
}*/

.user {
	margin-bottom: 10px;
}

.user:hover {
	background-color: rgb(0, 128, 255);
}

.icon {
	height:60px;
	width: 60px;
	vertical-align: middle;
}
#loginDiv, #registerDiv {
  border-radius: 5px;
}


#pageContent {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#mainPage {
	flex: 1;
	margin-bottom: 20px;
}

html {
	background-color : rgb(176,223,229);
}

.flag {
	width: 70px;
	height: 50px;
	cursor: pointer;
}

#userData {
	text-align: center;
	width: auto;
}

#userFetchedData, h2#userName h2#userSurname{
	background-color: rgb(15, 82, 186);
	color: white;
	width: 70%;
	margin: 0 auto;
}

h3, h2, h4, h1{
	text-align: center;
}

input.paid, input.paid:hover {
	background-color: green;
}


input.unpaid {
	background-color: rgb(178,34,34);
}

input.unpaid:hover {
	background-color: rgb(150,0,0);
}

    .bar {
      fill: rgb(15, 82, 186);
    }

figcaption, text {
    font-weight: bold;
    margin-bottom: 20px;
}
